#menu li ul {
    display: none;
}

#menu {
    width: 200px;
    color: white;
    background-color: grey;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

#menu li:hover {
    background-color: black;
    text-decoration: underline;
}

#menu li:hover ul {
    display: block;
    background-color: grey;
}

#menu li ul li:hover {
    background-color: lightgrey;
}

a {
    color: black;
}